*{
    margin: 0;
    padding: 0;
    background:hsl(212, 45%, 89%);
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.box{
    border-radius: 15px;
    padding: 15px;
    background: hsl(0, 0%, 100%);
    max-width: 280px;
    text-align: center;
    margin: auto;
}
.box img{
    max-width: 280px;
    border-radius: 10px;
}
.box h3{
    background: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}
.box p{
    background: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}